# SPDX-FileCopyrightText: 2026 AbiliSoft
# SPDX-License-Identifier: Apache-2.0
#
[Unit]
Description=USB/IP (Go) daemon socket

[Socket]
ListenStream=0.0.0.0:3240
Accept=no
FileDescriptorName=usbip-go

[Install]
WantedBy=sockets.target
