# SPDX-FileCopyrightText: 2026 AbiliSoft
# SPDX-License-Identifier: Apache-2.0
#
[Unit]
Description=USB/IP (Go) daemon
Requires=usbipd-go.socket

[Service]
Type=simple
ExecStart=/usr/bin/usbipd-go
Restart=on-failure
CapabilityBoundingSet=CAP_SYS_ADMIN CAP_DAC_OVERRIDE

[Install]
WantedBy=multi-user.target
